<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Transit App</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="../app.css" media="screen" title="no title" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

  </head>

  <body ng-controller="HomeCtrl">
    <div class="header text-center">
      Transit App
    </div>

    <div class="container text-center">

    <!-- <div class="col-md-6"> -->
      <div class="form-inline">
        <div class="form-group">
            <label class="visible-md-block hidden-md" for="from">From</label>
            <!-- <input type="text" class="col-md-6 form-control" placeholder="From Station"> -->
            <select class="from-station col-md-6 form-control" name="" ng-model="stationsValue1" ng-options="station['Station Name'] for station in stations">
              <option value="{{station['Station Name']}}">Hello</option>
            </select>
        </div>
        <div class="form-group">

            <label class="visible-md-block hidden-md" for="to">To</label>
            <!-- <input type="text" class="col-md-6 form-control" placeholder="To Station"> -->
            <select class="to-station col-md-6 form-control" name="" ng-model="stationsValue2" ng-options="station['Station Name'] for station in stations">
              <option value="{{station['Station Name']}}">Hello</option>
            </select>
        </div>
        <button type="submit" class="btn btn-my btn-primary" ng-click='findStops()'>Find</button>
      </div>
    <!-- </div> -->

    </div>






    <div class="container">
    <div class="row">
        <div class="col-md-6" ng-repeat="station in allStops">
          <div class="panel" ng-class="{'panel-danger': station.orig_delay != 'On time', 'panel-success': station.orig_delay == 'On time'}">
            <div class="panel-heading">{{from}} -> {{to}} <span class="text-right">{{station.orig_delay}}</span></div>
            <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <span>Train#: {{station.orig_train}}</span>
                    </div>
                    <div class="col-xs-6">
                      <span>Line: {{station.orig_line}}</span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-6">
                      <span>Dept time: {{station.orig_departure_time}}</span>
                    </div>
                    <div class="col-xs-6">
                      <span>Arriv time: {{station.orig_arrival_time}}</span>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
