body {
  background-color: #059499;
  padding-top:50px;
}
html  {
  overflow-y:scroll;
}
.container {
  margin-bottom: 10px;
}

.header {
  margin-bottom: 10px;
  font-size: 24px;
}

select option{
  max-width: 50%;

}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 20px;
    width: 60%;
  }
}

@media all and (max-width:1200px) {
  .msg {
    font-size: 22px;
  }
   .btn-my { width: 100%; display:inline-block; }
}


.msg {
  font-size: 18px;
}
