<html lang="en">

<head>

    <title>Meet-Up Event Planner</title>

    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <script type="text/javascript" src="spin.min.js"></script>
    <script type="text/javascript" src="ladda.min.js"></script>
    <!-- <lin k rel="stylesheet" type="text/css" href="ladda-themeless.min.css"> -->

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="welcome.css" rel="stylesheet">

</head>

<body ng-controller="AddEventCtrl">
  <div class="main">
    <nav class="fixed-nav-bar">
      <div id="menu" class="menu">
          <ul class="menu-items">
          <li><a href="#/welcome">Home</a></li>
          <li><a href="#/addEvent">Add Event</a></li>
          <li><a ng-click="logout();">Logout</a></li>
        </ul>
      </div>
    </nav>

      <div class="container">
          <form class="form-horizontal" ng-submit="AddEvent()">
              <fieldset>

                  <!-- Form Name -->
                  <legend class="lead">Create Event</legend>

                  <!-- Event name-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtName">Event Name*</label>
                      <div class="col-md-4">
                          <input id="txtTitle" name="txtName" ng-model="event.name" type="text" placeholder="4's anniversary" class="form-control input-md">

                      </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtType">Event Type*</label>
                      <div class="col-md-4">
                          <input id="txtTitle" name="txtType" ng-model="event.type" type="text" placeholder="birthday party, conference talk, wedding, etc." class="form-control input-md">

                      </div>
                  </div>

                  <!-- Event host-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtHost">Event Host*</label>
                      <div class="col-md-4">
                          <input id="txtHost" name="txtHost" ng-model="event.host" ype="text" placeholder="could be an individual’s name or an organization" class="form-control input-md">

                      </div>
                  </div>


                  <!-- Start date-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtDateStart">Start Date/Time*</label>
                      <div class="col-md-4">
                          <input id="txtHost" name="txtDateStart" ng-model="event.startdatetime" type="datetime-local" class="form-control input-md">

                      </div>
                  </div>

                  <!-- End date-->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtDateEnd">End Date/Time*</label>
                      <div class="col-md-4">
                          <input id="txtHost" name="txtDateEnd" ng-model="event.enddatetime" type="datetime-local" class="form-control input-md">

                      </div>
                  </div>

                  <!-- Location -->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtLocation">Event Location*</label>
                      <div class="col-md-4">
                          <input class="form-control" ng-model="event.location" type="text" placeholder="Event Location/Address" id="txtLocation" name="txtLocation"></textarea>
                      </div>
                  </div>

                  <!-- Desciption -->
                  <div class="form-group">
                      <label class="col-md-4 control-label" for="txtMessage">Message(optional)</label>
                      <div class="col-md-4">
                          <textarea class="form-control" ng-model="event.message" id="txtPost" name="txtMessage"></textarea>
                      </div>
                  </div>


                  <div class="form-group">
                      <label class="col-md-4 control-label" for="singlebutton"></label>
                      <div class="col-md-4">
                        <input id="singlebutton" ng-disabled="!event.name || !event.type || !event.host || !event.startdatetime || !event.enddatetime || !event.location" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                      </div>
                  </div>

              </fieldset>
          </form>

      </div>
  </div>


    <div class="footer">
        <p class="text-muted">Meet-Up Event Planner</p>
    </div>

</body>

</html>
